/* td { vertical-align:top;} */
/* Reset some default styles */
body{
    margin: 0;
    padding: 0;
}

/* Style for the container */
#container {
    position: relative;
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

/* Style for the header */
#header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header h1 {
    margin-bottom: 10px;
}

#header p {
    margin: 0;
}

#header a {
    color: #fff
}

/* Style for the sidebar */
#sidebar {
    /* width: 30%;
    background-color: #eee;
    padding: 50px;
    border-right: 1px solid #ccc; */
    width: 20%;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    font-size: medium;
    font-weight: bold;
}

#sidebar h3 {
    margin-bottom: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: #009688;
}

#sidebar ul ul {
    list-style-type: none;
    padding-left: 20px; 
}

#sidebar ul ul li {
    margin-bottom: 5px; 
}

#sidebar ul ul li a {
    font-weight: normal; 
}

/* Style for the main content */
#main-content {
    position: absolute;
    top: 15%;
    left: 30%;
    /* transform: translate(-50%, -50%); */
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height:25%;
    width:50%;
}

#main-content h2 {
    color: #333;
}

#main-content h3 {
    color: #009688;
    margin-top: 20px;
}

#main-content select,
#main-content input {
    margin-bottom: 10px;
}

#main-content input[type="text"],
#main-content input[type="date"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

#main-content input[type="reset"],
#main-content input[type="submit"] {
    background-color: #009688;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#main-content input[type="reset"]:hover,
#main-content input[type="submit"]:hover {
    background-color: #00796b;
}

#main-content p {
    margin: 10px 0;
    color: #333;
}


/* Style for the footer */
#footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}